html,
body {
  margin: 0;
  padding: 0;
}

#content {
  width: 80%;
  margin: 0 auto;
  margin-top: 10vh;
}

#title {
  text-align: center;
  text-decoration: none;
  color: #000;
}

#title:hover {
  text-decoration: underline;
}

#toolbar {
  display: flex;
}

#toolbar .btn {
  padding: 8px;
  margin-right: 8px;
  min-width: 48px;
  text-align: center;
  cursor: pointer;
  border: none;
}

.btn.btn-group-1 {
  color: #fff;
  background-color: rgb(232, 50, 60);
}

.btn.btn-group-2 {
  color: #fff;
  background-color: rgb(250, 84, 28);
}

.btn.btn-group-3 {
  color: #fff;
  background-color: rgb(47, 84, 235);
}

.btn.btn-group-4 {
  color: #fff;
  background-color: rgb(114, 46, 209);
}

.btn.btn-group-5 {
  color: #fff;
  background-color: rgb(235, 47, 150);
}

#editor {
  border: 1px solid #ddd;
  padding: 8px;
  margin-top: 12px;
  padding-bottom: 48px;
}

#output {
  width: 100%;
  border: 1px solid #ddd;
  padding: 8px;
  margin-top: 12px;
}
