# Operating System Files

*.DS_Store
Thumbs.db
.#*
*#

# Build Artifacts

.gradle/
build/
target/
bin/
dependency-reduced-pom.xml

# Eclipse Project Files

.classpath
.project
.settings/

# IntelliJ IDEA Files

*.iml
*.ipr
*.iws
*.idea

# vim

*.sw*
*.un~

# nodejs

node_modules
npm-debug.log
